.device-model-characteristics-list {
    list-style: none;
    padding-left: 0;
}

.device-model-characteristics-list li {
    margin: 0.8em 0;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.characteristic-value {
    width: 2em;
    height: 2em;
    padding: 0.3em;
    border-radius: 50%;
    border: .15em solid #ccc;
    background: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 0.9em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}