.form-input {
    background-color: #c3c4c5;
    border-color: #f5f8fa;
    color: #5e6278;
    width:14%;
    height:70px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0.125rem;
}

.form-input:focus{
    box-shadow: none;
}

.resend-text-hover {
    transition: color 0.3s ease !important;
}

.resend-text-hover:hover {
    color: #05db30 !important;
}

@media (max-width:1200px){
    .form-input{ 
        height:50px; 
    }
}
@media (max-width:767px){
    .form-input{ 
        height:40px; 
    }
}