@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  font-family: Montserrat, Arial, sans-serif;
  background-color: #f8f9fa;
}

p {
  margin: 0;
}

main {
  margin: 4%;
}

.row {
  margin: 0;
}

.text-justify {
  text-align: justify;
}

.buttons-col {
  width: 120px;
}

.edit-btn {
  max-height: 40px;
  max-width: 100px;
}

.add-btn {
    min-width: 150px;
}

@media (max-width: 576px) {
  .admin-title {
    font-size: 18px !important;
  }

  .edit-btn {
    width: 50% !important;
  }
}

@media (max-width: 282px) {
  .admin-title {
    font-size: 16px !important;
  }
}

@media (max-width: 272px) {
  .edit-btn {
    width: 75% !important;
  }
}
