.navbar {
    background-color: rgb(23, 154, 183);
    color: white !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.2rem;
}

.nav-link {
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 0.8rem;
    color: white !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: rgb(6, 69, 173) !important;
}

.nav-link.active {
    font-weight: 700 !important;
    text-decoration: underline !important;
    text-decoration-skip-ink: none !important;
    color: white !important;
}

.navbar .dropdown-toggle::after {
    border-top-color: #fff !important;
}

.navbar-nav .nav-item .dropdown-toggle.nav-link {
    padding: 0 !important;
    margin-right: 0; 
}

.form-control {
    border-radius: 20px 0 0 20px;
}

.btn-outline-light {
    border-radius: 0 20px 20px 0;
}

@media (max-width: 1400px) {
    .navbar-brand {
      font-size: 0 !important;
    }
}

@media (max-width: 490px) {
  .search-wrapper {
    order: 3 !important;
    width: 100%;
    margin-top: 20px !important; 
  }

  .navbar-brand {
    flex: 1 0 auto;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}